.aCol {
	color: #E50E16;
}

.bCol {
	color: #7AFFFF;
}

.cCol {
	color: #B9A7F3;
}

.dCol {
	color: #9F01B6;
}

.eCol {
	color: #E9ED26;
}

.fCol {
	color: #FC8AFC;
}

.gCol {
	color: #189C15;
}

.hCol {
	color: #8EFF8E;
}

.iCol {
	color: #FEFF5D;
}

.jCol {
	color: #FF4200;
}

.kCol {
	color: #B705CD;
}

.lCol {
	color: #FFEC02;
}

.mCol {
	color: #53DDFF;
}

.nCol {
	color: #000000;
}

.oCol {
	color: #FA6707;
}

.pCol {
	color: #FA0002;
}

.qCol {
	color: #880091;
}

.rCol {
	color: #005F02;
}

.sCol {
	color: #F10000;
}

.tCol {
	color: #008E01;
}

.uCol {
	color: #8D4A04;
}

.vCol {
	color: #AAABE4;
}

.wCol {
	color: #B5EBED;
}

.xCol {
	color: #818181;
}

.yCol {
	color: #000000;
}

.zCol {
	color: #F70900;
}




/*NUMBERS*/
.num0Col {
    color: #FFFFFF;   
}

.num1Col {
    color: #F50103;   
}

.num2Col {
    color: #75FFFE;   
}

.num3Col {
    color: #FEE300;   
}

.num4Col {
    color: #B50DB8;   
}

.num5Col {
    color: #0400B2;   
}

.num6Col {
    color: #FF9108;   
}

.num7Col {
    color: #4FCA19;   
}

.num8Col {
    color: #FF5F00;   
}

.num9Col {
    color: #F90111;   
}

/*whole words*/
.mondayCol {
    color: #F80400;   
}

.tuesdayCol {
    color: #71FFFF;   
}

.wednesdayCol {
    color: #FF6408;   
}

.thursdayCol {
    color: #914509;   
}

.fridayCol {
    color: #F20000;   
}

.saturdayCol {
    color: #A0FCF1;   
}

.sundayCol {
    color: #000000;   
}

.januaryCol {
    color: #FF0401;
}

.februaryCol {
    color: #7BE6F8;
}

.marchCol {
    color: #1EE725;
}

.aprilCol {
    color: #FFFC62;
}

.mayCol {
    color: #0300B7;
}

.juneCol {
    color: #FDAB59;
}

.julyCol {
    color: #0A6D03;
}

.augustCol {
    color: #FB6400;
}

.septemberCol {
    color: #D020CB;
}

.octoberCol {
    color: #F96A1B;
}

.novemberCol {
    color: #0500BE;
}

.decemberCol {
    color: #02004E;
}