html {
    font-size: medium;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#main {
    padding: 0.5em;
}

h1 {
    font-family: Pacifico, Serif;
    color: #486a81;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.9em;
}

#originalText,
#colouredText {
    display: block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 150%;
    height: 300px;
    width: 100%;
}

#colourButton {
    margin: 1em auto;
    display: block;
}
