html {
    font-size: medium;
    font-family: PT Sans Narrow, Georgia, sans-serif;
}

#main {
    padding: 0.5em;
}

h1 {
    font-family: Pacifico, Serif;
    color: #486a81;
    margin: auto;
    text-align: center;
}

#originalText,
#colouredText {
    display: block;
    height: 300px;
    width: 100%;
}

#colourButton {
    margin: 1em auto;
    display: block;
}
