body {
    font-family: Segoe UI, sans-serif;
}

#completeContainer {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 300px 0 0;
    min-width: 350px;
}

#leftContainer, #midContainer, #rightContainer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.sidebar {
    width: 50%;
}

.sidebar h1 {
    font-family: Pacifico, sans-serif;
    color: #486a81;
    border-bottom: 2px solid #4e5d67;
    width: 50%;
    min-width: 4em;
    max-width: 20em;
    margin: 1em auto;
    text-align: center;
}

.sidebar p {
    font-family: Segoe UI, sans-serif;
    font-size: 0.9em;
    min-width: 4em;
    width: 80%;
    max-width: 20em;
    margin: 1em auto;
    text-align: justify;
}

.sidebar a, .sidebar a:visited, .sidebar a:active {
    color: #4d89c4;
    transition: color 0.2s ease, border-bottom-color 0.2s ease, opacity 0.5s ease;
    border-bottom: 1px solid #4d89c4;
    text-decoration: none;
}

.sidebar a:hover {
    color: #78bafd;
    border-bottom-color: #fff;
}

.sidebar .txtspk {
    color: #444;
    font-style: italic;
    font-size: 0.9em;
    font-family: consolas, monospace;
}

#options {
    font-family: Segoe UI, sans-serif;
    font-size: 0.9em;
    min-width: 4em;
    width: 80%;
    max-width: 20em;
    margin: 0 auto;
}

#options h2 {
    font-size: 1.6em;
    font-family: PT Sans Narrow, sans-serif;
    color: #333;
    margin: 0.5em 1em;
}

label:hover{
    cursor:pointer;
}

input[type="radio"] {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-top: 0;
    margin-right: 5px;
}

.effectLabel {
    width: 4em;
    display: inline-block;
}

label {
    margin-right: 15px;
    display: inline-block;
}

.info p{
    width: 100%;
    max-width: 100%;
    margin: 1em 0;
    font-size: 0.8em;
    color: #555;
}

.info *{
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

#options #background:hover .info *{
    opacity: 1;
    max-height: 200px;
}

#options #effects:hover .info *{
    opacity: 1;
    max-height: 200px;
}

#cssButtons:hover .info *{
    opacity: 1;
    max-height: 200px;
}

input::-webkit-input-placeholder {
    text-align: center;
}

input::-moz-placeholder {
    text-align: center;
}

#midContainer {
    width: 300px;
    margin: 0 auto;
    padding-top: 2em;
}

textarea {
    display:block;
    width: 280px;
    font-family: Segoe UI, monospace;
    font-size: 1.2em;
    height: 10em;
    border-radius: 2px;
    border: 1px solid #78bafd;
    padding: 10px 10px;
}

textarea::-webkit-input-placeholder {
    text-align: center;
    line-height: 9em;
}

textarea::-moz-placeholder {
    text-align: center;
    line-height: 9em;
}

button {
    padding: 0.5em;
    height: 35px;
    color: #fff;
    font-style: italic;
    font-family: Segoe UI, sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 2px;
}

button:hover{
    cursor:pointer;
}

button:active {
    border-top: 3px solid white;
    border-bottom-width: 3px;
}

#magic {
    margin: 1em auto;
    display: block;
    width: 200px;
    background-color: #78bafd;
    border-bottom: 6px solid #4d89c4;
}

.switchButton {
    width: 100px;
    background-color: #78e08c;
    border-bottom: 6px solid #44bf65;
    display: block;
    margin: 0 10px 1em 10px;
    float: left;
}

#cssButtons {
    padding: 1em 0 0 25px;
    min-height: 100px;
}

.switchButton.active {
   background-color: #56be6b;
    border-bottom-color: #268b41;
}

#cssButtons .info p{
    width: 240px;
    margin-bottom: 0;
    text-align: justify;
    display: inline-block;
}

#textContainer {
    position: relative;
}

#formattedText, #overlay {
    font-family: Segoe UI, monospace;
    font-size: 1.2em;
    width: 280px;
    border-radius: 2px;
    min-height: 10em;
    padding: 0 10px;
}

#formattedText p, #overlay p {
    width: 280px;
    word-wrap: break-word;
}

#formattedText {
    border: 1px solid #78bafd;    
}

#overlay {
    opacity: 0.5;
    position: absolute;
    border: 1px solid rgba(0,0,0,0);  
    top: 0;
    left: 0;
}

p {
    padding:0;
    margin:10px 0;
}

#formattedText span {
    max-width: 280px;
    display: inline;
}