html {
    font-size: medium;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#main {
    padding: 0.5em;
}

h1 {
    font-family: Pacifico, Serif;
    color: #486a81;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.9em;
}

#main div
{
    position: relative;
}

#originalText,
#colouredText {
    display: block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 150%;

    position: absolute;
    top: 0;
    left: 0;

    height: 300px;
    width: 100%;
}

#originalText
{
    z-index: 1;
}

#colouredText
{
    z-index: 2;
}
