html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: medium;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


/*about*/

.content {
    max-width: 70%;
    margin: 0 auto;
}


/*main*/

#main {
    padding: 0 10%;
}

h1 {
    margin: 0;
    margin-bottom: 1em;
    color: #486a81;
    text-align: center;
    font-size: 1.9em;
    font-family: Pacifico, Serif;
}

#main div {
    position: relative;
}

#originalText,
#colouredText {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
    min-height: 3em;
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 1.5em;
    font-family: Roboto;
}

#originalText {
    z-index: 1;
    outline: none;
    box-shadow: none;
    resize: vertical;
}

#colouredText {
    z-index: 2;
    text-shadow: 0 0 1px, 0 0 1px;
    word-wrap: break-word;
    opacity: .85;
    pointer-events: none;
}


/* tabs */

.tab {
    display: none;
}

.tab.active {
    display: block;
}


/* tabs section */

#tabs {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4em;
    background-color: #ddd;
    text-align: center;
    line-height: 4em;
}

#tabs li {
    display: inline-block;
}

#tabs li:after {
    content: " | "
}

#tabs li:last-child:after {
    content: "";
}


/*colour tabs */

#colourTabs {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #486a81;
    text-align: center;
}

#colourTabs li {
    display: inline-block;
    padding: 0;
    padding-bottom: 3px;
}

#colourTabs li a {
    margin: 0 1.5em;
    padding: 3px 1.2em;
    border: 1px solid #486a81;
    border-radius: 0.4em 0.4em 0 0;
    color: #777;
    text-decoration: none;
    background-color: white;
}

#colourTabs li.active a {
    border-bottom: 1px solid white;
    color: #222;
}


/* custom */

.header {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: white;
}

.colourContainer {
    display: none;
}

.colourContainer.active {
    display: block;
    margin: 0 auto;
    padding-top: 10em;
    max-width: 35em;
}

#alphabet {
    text-align: center;
}

#alphabet > button {
    margin: 0 auto;
    margin-bottom: 3em;
    top: -1em;
    position: relative;
}

#alphabet div p {
    margin: 0;
}

#alphabet div p:first-child {
    float: left;
}

#alphabet div p:nth-child(2) {
    float: right;
    padding-bottom: 2em;
}

#alphabet > div {
    clear: both;
}

.colourContainer div input,
.sp-replacer {
    margin-left: 1em;
}

.black,
.white {
    position: relative;
    display: inline-block;
    margin: 0 0.5em;
    width: 1.5em;
    text-align: center;
    text-shadow: 0 0 3px;
}

.black {
    text-shadow: -3px -3px 15px black, 3px -3px 15px black, -3px 3px 15px black, 3px 3px 15px black, -3px -3px 15px black, 3px -3px 15px black, -3px 3px 15px black, 3px 3px 15px black, 0 0 3px;
}

input[type=checkbox] + label {
    color: #888;
}

input[type=checkbox]:checked + label {
    color: #000;
}

#share textarea {
    width: 100%;
    resize: both;
}

#share button {
    width: 10em;
    margin: 0 auto;
    display: block;
}


/* animate */

.animate {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadein {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
