.aCol {
    color: #FF0000;
}

.bCol {
    color: #CF8404;
}

.cCol {
    color: #80FC32;
}

.dCol {
    color: #8D10CC;
}

.eCol {
    color: #089E1C;
}

.fCol {
    color: #ED8309;
}

.gCol {
    color: #3CD117;
}

.hCol {
    color: #30E7FF;
}

.iCol {
    color: #FAF737;
}

.jCol {
    color: #5D00FF;
}

.kCol {
    color: #FF4D00;
}

.lCol {
    color: #FFFB00;
}

.mCol {
    color: #7A4202;
}

.nCol {
    color: #CC7716;
}

.oCol {
    color: #8F02FA;
}

.pCol {
    color: #F277E2;
}

.qCol {
    color: #B6FC8B;
}

.rCol {
    color: #663807;
}

.sCol {
    color: #F6FF00;
}

.tCol {
    color: #0C7813;
}

.uCol {
    color: #E81CD0;
}

.vCol {
    color: #FAAC1B;
}

.wCol {
    color: #0004FF;
}

.xCol {
    color: #FFFFFF;
}

.yCol {
    color: #F6FF00;
}

.zCol {
    color: #000000;
}




/*NUMBERS*/
.num0Col {
    color: #000000;  
}

.num1Col {
    color: #FC0505;  
}

.num2Col {
    color: #FF9D00;  
}

.num3Col {
    color: #6FFF00;  
}

.num4Col {
    color: #F00A0A;  
}

.num5Col {
    color: #F0970A;  
}

.num6Col {
    color: #00FF3C;  
}

.num7Col {
    color: #CC00FF;  
}

.num8Col {
    color: #ED28E7;  
}

.num9Col {
    color: #9700F5;  
}

/*whole words*/
.mondayCol {
    color: #FF350D;  
}

.tuesdayCol {
    color: #A9F734;  
}

.wednesdayCol {
    color: #3730F2;  
}

.thursdayCol {
    color: #0A912E;  
}

.fridayCol {
    color: #FF7700;  
}

.saturdayCol {
    color: #FFBF00;  
}

.sundayCol {
    color: #F6FF00;  
}