.aCol {
    color: #FF0000;
}
.bCol {
    color: #FFF700;
}
.cCol {
    color: #208C20;
}
.dCol {
    color: #1E199E;
}
.eCol {
    color: #F5F3BC;
}
.fCol {
    color: #F5B856;
}
.gCol {
    color: #F556F2;
}
.hCol {
    color: #C6C0CC;
}
.iCol {
    color: #FFFFFF;
}
.jCol {
    color: #DCBBFA;
}
.kCol {
    color: #F567B7;
}
.lCol {
    color: #E5F53D;
}
.mCol {
    color: #6FB524;
}
.nCol {
    color: #C8F249;
}
.oCol {
    color: #555729;
}
.pCol {
    color: #D41E33;
}
.qCol {
    color: #C40840;
}
.rCol {
    color: #FADE07;
}
.sCol {
    color: #5726DE;
}
.tCol {
    color: #4EBFFC;
}
.uCol {
    color: #A1D1E6;
}
.vCol {
    color: #8E7ABF;
}
.wCol {
    color: #633C14;
}
.xCol {
    color: #4D4D4F;
}
.yCol {
    color: #E8F578;
}
.zCol {
    color: #000000;
}
/*NUMBERS*/

.num0Col {
    color: #000000;
}
.num1Col {
    color: #FFFFFF;
}
.num2Col {
    color: #B55DE8;
}
.num3Col {
    color: #A3F241;
}
.num4Col {
    color: #FFCD03;
}
.num5Col {
    color: #ED2A0C;
}
.num6Col {
    color: #EDB818;
}
.num7Col {
    color: #40D657;
}
.num8Col {
    color: #635BF0;
}
.num9Col {
    color: #974FD1;
}

/*whole words*/
.mondayCol {
    color: #A697DB;
}
.tuesdayCol {
    color: #EDE61C;
}
.wednesdayCol {
    color: #487549;
}
.thursdayCol {
    color: #A6A4A4;
}
.fridayCol {
    color: #FA0509;
}
.saturdayCol {
    color: #F531A0;
}
.sundayCol {
    color: #EFB0F5;
}