/*LETTERS*/
.col97 {
	color: #DE000F;
}

.col65 {
	color: #DE000F;
}

.col98 {
	color: #FFFB00;
}

.col66 {
	color: #FFFB00;
}

.col99 {
	color: #B3E5FF;
}

.col67 {
	color: #B3E5FF;
}

.col100 {
	color: #F5E400;
}

.col68 {
	color: #F5E400;
}

.col101 {
	color: #006AC7;
}

.col69 {
	color: #006AC7;
}

.col102 {
	color: #5E0031;
}

.col70 {
	color: #5E0031;
}

.col103 {
	color: #E0AC00;
}

.col71 {
	color: #57ED00;
}

.col104 {
	color: #003B00;
}

.col72 {
	color: #003B00;
}

.col105 {
	color: #E6DEFC;
}

.col73 {
	color: #E6DEFC;
}

.col106 {
	color: #070087;
}

.col74 {
	color: #070087;
}

.col107 {
	color: #8B00CC;
}

.col75 {
	color: #8B00CC;
}

.col108 {
	color: #FDFFC7;
}

.col76 {
	color: #FDFFC7;
}

.col109 {
	color: #BF1600;
}

.col77 {
	color: #BF1600;
}

.col110 {
	color: #F0CC00;
}

.col78 {
	color: #F0CC00;
}

.col111 {
	color: #FFFFFF;
}

.col79 {
	color: #FFFFFF;
}

.col112 {
	color: #001C70;
}

.col80 {
	color: #001C70;
}

.col113 {
	color: #280045;
}

.col81 {
    color: #FFFDED;
}

.col114 {
	color: #FFBAD3;
}

.col82 {
	color: #FFBAD3;
}

.col115 {
	color: #9C000A;
}

.col83 {
	color: #9C000A;
}

.col116 {
	color: #000000;
}

.col84 {
	color: #000000;
}

.col117 {
	color: #220087;
}

.col85 {
	color: #220087;
}

.col118 {
	color: #6B000B;
}

.col86 {
	color: #6B000B;
}

.col119 {
	color: #B53C00;
}

.col87 {
	color: #B53C00;
}

.col120 {
	color: #260000;
}

.col88 {
	color: #260000;
}

.col121 {
	color: #C800FF;
}

.col89 {
	color: #C800FF;
}

.col122 {
	color: #84F000;
}

.col90 {
	color: #84F000;
}

/*NUMBERS*/
.col48 {
    color: #ffffff;   
}

.col49 {
    color: #000000;
}

.col50 {
    color: #FFFB00;
}

.col51 {
    color: #FF1E00;
}

.col52 {
    color: #FF179E;
}

.col53 {
    color: #84F000;
}

.col54 {
    color: #008204;
}

.col55 {
    color: #140087;
}

.col56 {
    color: #FF0000;
}

.col57 {
    color: #F0CC00;
}

/*SPECIAL CHARACTERS*/
/*çÇ*/
.u00e7Col, .u00c7Col {
	color: #B3E5FF;
}

/*ß*/
.u00dfCol {
    color: #FFD138;
}

/*üÜ*/
.u00fcCol, .u00dcCol {
    color: #290052;
}
